@model Treinreizen.Domain.Entities.Hotels

@if (Model != null)
{
    <div class="col-lg-4">
        <div class="tile">

            <div>
                @*foto's instellen volgens hotelID*@
                @{ 
                    var file = "/images/hotels/" + Model.HotelId + ".jpg" ;
                }
                <img class="foto" src="@file" />
            </div>
            <div class="title">

                @Model.Naam

            </div>
            <div class="beschrijving">
                @Model.Beschrijving
            </div>
            

            <div class="boeken">
                <a class="button" href="@Model.Site" target="_blank">Website</a>
            </div>


        </div>
    </div>
}
