@model IEnumerable<Treinreizen.Domain.Entities.Hotels>
@{
    ViewData["Title"] = "Hotels";
}


<h1>Hotels in de buurt</h1>

<div class="tile-container">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_Hotel", item)
    }
</div>


<a asp-controller="Trein"
   asp-action="Home">

    Ga terug
</a>