@model Treinreizen.ViewModel.PassagierslijstVM

@{
    ViewData["Title"] = "Passagiers";
}

<h2>betrokken passagiers</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Passagiers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (var i = 0; i < 3; i++)
            {
                <p>Passagier @i :</p>
                <p>@Html.TextBoxFor(x => Model.Passagiers[i].Voornaam)</p>
                <p>@Html.TextBoxFor(x => Model.Passagiers[i].Achternaam)</p>
            }

            <div class="form-group">
                <input type="submit" value="boek" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
