
@{
    ViewData["Title"] = "ErrorTreinOverboekt";
}

<h2>Trein Overboekt</h2>

<p>Er zijn geen plaatsen meer beschikbaar voor dit traject op de gekozen datum. 
    Gelieve een andere datum te kiezen.</p>

