
@{
    ViewData["Title"] = "Waar";
}
<div class="main">
    <div class="volledig col-md-4">
        <div class="tekst">
            <h2>Waar</h2>
            <p>
                De hoofdzetel van NMVS is gelegen in het West-Vlaamse Kortrijk. Wij bieden treinreizen aan doorheen heel Europa. Alles wordt gecoördineerd vanuit onze hoofdzetel in Kortrijk.
            </p>
        </div>
    </div>
   
    <div class="wie">
        <div class="col-md-8">

            <img src="~/images/logo/logo.png" />
        </div>

    </div>

</div>


