
@{
    ViewData["Title"] = "Wat";
}
<div class="main">
   

   
    <div class="volledig col-md-4">
        <div class="tekst">
            <h2>Wat doen we</h2>
            <p> <bold>NMVS</bold> is een betrouwbare spoorwegmaatschappij zonder vertragingen met comfortable zitplaatsen. Geschikt voor zowel gezinnen als zakenmensen. En dit alles tegen een schappelijke prijs. NMVS zet niet enkel in op maatschappelijke doeleinden maar houd ook rekening met het personeel en milieu. Zo kunnen wij u een aangename reis aanbieden die in het teken staat van comfort en stiptheid.</p>
        </div>

    </div>
    <div class="wie">
        <div class="col-md-8">

            <img src="~/images/logo/logo.png" />
        </div>

    </div>

</div>

