
@{
    ViewData["Title"] = "Wie";
}

<h2>Wie zijn we</h2>


<p><bold>NMVS</bold> staat voor <italic>Nationale Maatschappij der VIVES Spoorwegen</italic> en werd in 2019 opgericht door Louis Vanhalst en Sophie De Waele</p>

