
@{
    ViewData["Title"] = "Wie";
}
<div class="main">
    <div class="volledig col-md-4">
        <div class="tekst">
            <h2>Wie zijn we</h2>
            <p>NMVS staat voor Nationale Maatschappij der VIVES Spoorwegen en werd in 2019 opgericht door Louis Vanhalst en Sophie De Waele</p>
        </div>
      
    </div>
    <div class="wie">
        <div class="col-md-8">
            <img class="img-rounded" src="~/images/info/louis2.jpg" />
            <img class="img-rounded " src="~/images/info/sophie2.jpg" />
        </div>
        
    </div>
    
</div>



