/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.invulVelden {


    display:block;
}
.formulier {
   margin-left: -15px;
    margin-right: -15px;
    padding-right: -10px;
    background: #2292e6;
    display: inline-block;
    margin-bottom:-6px;
}
.formulier h2 {
    text-align: center;
    text-decoration:underline;
    font-weight:bold;
}
.borderTable
{
    border-bottom: 1px solid black;
}
.prijs
{
    font-size: 20px;
    font-weight: bold;
   text-align: center;
}
.routes {
    background: #dadada;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0px;
    padding-top: 15px;
}
    .routes h3 {
        font-weight: bold;
        margin-left: 15px;
        margin-right: 15px;
    }
    .routes .table {
        margin-left: 15px;
        margin-right: 15px;
    }
.hotel {
    background: #2292e6;
    padding-top: 15px;
    padding-bottom: 15px;
    width:100%;
    height:100%;

}
.hotel .content
{

    text-align: center;
}
.hotel h1{
    font-weight: bold;
    text-decoration:solid;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img {
    object-fit:fill;
    

    
}
.carousel {
    width: 100%;
   
  
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
table {
    width: 100%;
}

    table.default {
        width: 100%;
    }

        table.default tbody tr {
            border-bottom: solid 1px #888888;
        }

        table.default td {
            padding: 0.5em 1em 0.5em 1em;
        }

        table.default th {
            font-weight: 700;
            padding: 0.5em 1em 0.5em 1em;
            text-align: left;
        }

        table.default thead {
            background: #555555;
            color: #fff;
        }

/* Button */

.homeButton {
    width: 100%;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background: #3ac984;
    border-radius: 40px;
    border: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.80em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    min-width: 10em;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .button:hover {
        background-color: #32b777;
    }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    .button.fit {
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    .button.small {
        font-size: 0.8em;
    }



.tile-container {
    display: table;
    width: 100%;

}

.tile {
    background-color: #fff;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    padding: 5px;
    background-color: #e8e7e7;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

}

    .tile .foto {
        margin:-1em;

        background-size:cover;
    }

    .tile .title {
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: #3ac984;
        margin: 20px;
    }

    .website {
        margin-bottom: 10px;

    }

    .tile .beschrijving {
        font-style: normal;
        font-size: 17px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 40px;
        display: block;
        position: inherit;
    }

    .knop{
        margin: 10px;

        
        bottom: 0;
    }
.tile .button {
    width:100%;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

    table * {
        position: relative;
    }

    table td, table th {
        padding-left: 8px;
    }

    table thead tr {
        height: 60px;
        background: #36304a;
    }

    table tbody tr {
        height: 50px;
    }

        table tbody tr:last-child {
            border: 0;
        }

    table td, table th {
        text-align: left;
    }

        table td.l, table th.l {
            text-align: right;
        }

        table td.c, table th.c {
            text-align: center;
        }

        table td.r, table th.r {
            text-align: center;
        }


.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

    tbody tr:hover {
        color: #555555;
        background-color: #f5f5f5;
        cursor: pointer;
    }

.column1 {
    width: 260px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 245px;
}

.column4 {
    width: 110px;
    text-align: right;
}

.column5 {
    width: 170px;
    text-align: right;
}

.column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}


@media screen and (max-width: 992px) {
    table {
        display: block;
    }

        table > *, table tr, table td, table th {
            display: block;
        }

        table thead {
            display: none;
        }

        table tbody tr {
            height: auto;
            padding: 37px 0;
        }

            table tbody tr td {
                padding-left: 40% !important;
                margin-bottom: 24px;
            }

                table tbody tr td:last-child {
                    margin-bottom: 0;
                }

                table tbody tr td:before {
                    font-family: OpenSans-Regular;
                    font-size: 14px;
                    color: #999999;
                    line-height: 1.2;
                    font-weight: unset;
                    position: absolute;
                    width: 40%;
                    left: 30px;
                    top: 0;
                }

    .column4,
    .column5,
    .column6 {
        text-align: left;
    }

    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }

    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
